*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
/* for hidinag the scroll bar but still able to scroll */
::-webkit-scrollbar {
   display: none;
}

header{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/about-bg.jpg');
    background-position: bottom;
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
     
}

.navbar1 a{
    text-decoration: none;
    color: #2b51c0;
}
.ctn{
    padding: 8px 15px;
    background: #2b51c0;
    border-radius: 30px;    
}

.navbar1
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;

}
ul
{
    list-style: none;
}
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin:0 30px;
}
.nav-links a{
   
    font-size: large;
    color: white;
}
.logo
{
    font-size: 4vmin;
   
}

/* --------------------------upto background and nav bar completed-------------------------------------- */
.about .row{
   box-sizing: border-box;
   padding:100px;
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   text-align: center;
   align-items: center;
   margin-top: 15vh;
  
}

.about .row .image{
   flex: 1 1 40rem;
   background-position: center;
   background-size: contain;
   /* height:50%; */
}

.about .row .image img{
   width: 100%;
   border-radius: .5rem;
}

.about .row .content{
   flex:1 1 40rem;
   color: white;
}

.about .row .content h3{
   font-size: 3rem;
   color: var(--sub-color);
   text-transform: capitalize;
   margin-bottom: 1rem;
}

.about .row .content p{
   line-height: 2;
   padding: 1rem 0;
   font-size: 1.7rem;
   color: var(--sub-color);
}

.about .row.revers{
   flex-flow: row-reverse;
   margin: 3rem 0;
   flex-wrap: wrap;
}
footer{
    height: 50vh;
    background-color:rgba(0, 0, 0, 0.728);
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    /* padding-bottom: 3rem; */
 }
 
 .footer .box-container .box a{
    display: block;
    font-size:1.3em;
    color: var(--sub-color);
    padding: .5rem ;
    text-decoration: none;
 }

 .footer .box-container .box:first-child i{
    margin-right: 1.7rem;
 }
 
 .footer .box-container .box:nth-child(2){
    text-align: center;
 }
 
 .footer .box-container .box:last-child{
    text-align:right;
 }
 
 .footer .box-container .box:last-child i{
    margin-left: 1.7rem;
 }
 
 .credit{
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    color: var(--main-color);
    background-color:hsla(34, 57%, 70%, 0.2) ;
    font-size: 1.5rem;
    width: 70%;
    
    /* margin-bottom: 8rem; */
 }
 .creditouter
 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
 }

/* srvice css */
.services
{
  color: white;
}
 .services .box-container{
   justify-content: center;
   background-color:hsla(0, 0%, 0%, 0.482) ;
}

.services .box-container .box{
   padding: 2rem;
   text-align: center;
}

.services .box-container .box img{
   height: 7rem;
   margin-bottom: 1rem;
}

.services .box-container .box h3{
 
   text-transform: capitalize;
   margin: 1rem 0;
}

.services .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
}

#menu-icon {
   color: white;
   font-size: 20px;
   cursor: pointer;
   margin-right:30px;
   /* display: none;  */

}

.side-bar
{
    
    background-color: rgb(209, 121, 27);
    display:none;
    padding-left: -20p;
    box-sizing: border-box;
}
.dropdown:hover .side-bar
{
    display: block;
    position: absolute;
    right: 5%;

}
.side-bar ul{
    display: block;

}
.side-bar ul li{

margin-right: 15px;
}
.dropdown
{
    display: none;
    height: 150px;

}
.navlist1 a{
    font-size: larger;
    margin-left: 20px;
}
@media only screen and (max-width: 1000px){
    .dropdown{
        display: block;
    }    
    .nav-links
    {
        display: none;
    }
    .footer .box-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1.5rem;
      justify-content: center;
      align-items: flex-start;
      /* padding-bottom: 3rem; */
      overflow: hidden;
   }
   .about .row{
      padding: 1px;
   }
   .about .row .content p{
      font-size: 1.5rem;
     
   }
}

