*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/room-3.jpg');
    background-position: bottom;
    background-size: cover;
    background-position: absolute;
    display: flex;
    justify-content: center;
      
}
.header-content
{
    margin-bottom: 200px;
    color: white;
    text-align: center;

}
.header-content h2{
    font-size: 4vmin;
}


.line{
    width: 150px;
    height: 4px;
    background-color:#f02020;
    margin: 10px auto;
    border-radius: 5px;

}
.header-content h1{
    font-size: 10vmin;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    opacity: .3;
    transition-duration:1s;
    
}
.header-content h1:hover
{
    opacity: 1;  
    color:rgb(255, 255, 255);
    letter-spacing: 10px;
}
.navbar1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.ctn{
    padding: 8px 15px;
    background:#f02020;
    border-radius: 30px;
    color: white;
   
}

.navbar1
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;

}
ul
{
    list-style: none;
}
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin:0 30px;
}
.nav-links a{
    font-weight: 700px;
    font-size: large;
    color: rgb(255, 255, 255);
}
.logo
{
    font-size: 4vmin;
   
}
.form
{
    box-sizing: border-box;
    margin-top: 80px;
    color: white;
    width: 40%;
    display: flex;
    
}
.container label
{
    font-size: 20px;
    
}



* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgba(0,0,0,0.80);
  color: white;
  font-size: 20px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(0,0,0,0.80);
  outline: none;
}


/* input[type=text]:hover, input[type=password]:hover {
    background-color: rgba(0,0,0,0.80);
    outline: none;
  } */
  


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}



button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 15px;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px; 
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.dates
{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

input[type=date],input[type=number] {
  width: 30%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgba(0,0,0,0.80);
  color: white;
  font-size: 20px;
  
}

input[type=date]:focus:focus {
  background-color: rgba(0,0,0,0.80);
  outline: none;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
