*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
   
}

  
header{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('img/hotel-4.jpg'); 
    background-position:bottom;
    background-size: cover;
    display:flex;
    align-items: end;
    justify-content: center;    
}
.header-content
{
    margin-bottom: 200px;
    color: white;
    text-align: center;

}
.header-content h2{
    font-size: 4vmin;
}


.line{
    width: 150px;
    height: 4px;
    background-color:#f02020;
    margin: 10px auto;
    border-radius: 5px;

}
.header-content h1{
    font-size: 10vmin;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    opacity: .3;
    transition-duration:1s;
    
}

.navbar1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.ctn{
    padding: 8px 15px;
    background:#f02020;
    border-radius: 30px;
    color: white;
    opacity: .8;
    
}

.navbar1
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;

}
ul
{
    list-style: none;
}
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin:0 30px;
}
.nav-links a{
    font-weight: 700px;
    font-size: large;
    color: rgb(255, 255, 255);
}
.logo
{
    font-size: 4vmin;
   
}
#menu-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right:30px;
    /* display: none;  */

}

.side-bar
{
    
    background-color: rgb(48, 17, 16);
    display:none;
    padding-left: -20p;
    box-sizing: border-box;
    


}
.dropdown:hover .side-bar
{
    display: block;
    position: absolute;
    right: 5%;

}
.side-bar ul{
    display: block;

}
.side-bar ul li{

margin-right: 15px;
}
.dropdown
{
    display: none;
    height: 150px;

}
.navlist1 a{
    font-size: larger;
    margin-left: 20px;
}
@media only screen and (max-width: 1000px){
    .dropdown{
        display: block;
    }    
    .nav-links
    {
        display: none;
    }
    .header-content
    {
    margin-bottom: 200px;
    }
    .header-content h1{
        font-size: 10vmin;
        font-family: 'Pacifico', cursive;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 30px;
        opacity: 1;
        transition-duration:1s;
        
    }
   
   
}
@media only screen and (min-width: 1000px) {
    .header-content h1:hover
{
    opacity: 1;  
    color:rgb(255, 255, 255);
    letter-spacing: 10px;
}   
.header-content h1{
    font-size: 10vmin;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    opacity: .3;
    transition-duration:1s;
    
}
}
