*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image:url('img/header-bg.png'); 
    background-position:bottom;
    background-size: cover;
    display:flex;
    align-items: end;
    justify-content: center;
    
    


}
.header-content
{
    margin-bottom: 200px;
    color: white;
    text-align: center;

}
.header-content h2{
    font-size: 4vmin;
}


.line{
    width: 150px;
    height: 4px;
    background-color: rgb(255, 251, 251);
    margin: 10px auto;
    border-radius: 5px;

}
.header-content h1{
    font-size: 10vmin;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    opacity: .3;
    transition-duration:1s;
    
}
.header-content h1:hover
{
    opacity: 1;
    
    color:rgb(255, 255, 255);
    letter-spacing: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.ctn{
    padding: 8px 15px;
    background: #f02020;
    border-radius: 30px;
    color: white;
}

.navbar
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;

}
ul
{
    list-style: none;
}
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin:0 30px;
}

