*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/hotel-2.jpg');
    background-position: bottom;
    background-size: cover;
      
}

.navbar1 a{
    text-decoration: none;
    color: #001861;
}
.ctn{
    padding: 8px 15px;
    background: #001861;
    border-radius: 30px;    
}

.navbar1
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;

}
ul
{
    list-style: none;
}
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin:0 30px;
}
.nav-links a{
   
    font-size: large;
    color: white;
}
.logo
{
    font-size: 4vmin;
   
}
.outer
{
    position: absolute;
    box-sizing: border-box;
    top: 20%;
}
.column1
{ 
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    margin-bottom: 10px;
    border: double black solid;
    box-sizing: border-box;
   
}
.column1 img{
    opacity: 1;
    width:100%;
    height: 100%;
    color-scheme: gray;
    transition: .5s;
    /* filter: grayscale(100%); */
}
.images
{
   overflow: hidden;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images img:hover{
    width: 35%;
    transition:.5s ease-in;
    width: 110%;
    height:110%;
}
.info
{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}

